.star-rating {
    direction: rtl;
    display: inline-flex;
    justify-content: center;
}

    .star-rating input[type="radio"] {
        display: none;
    }

    .star-rating label {
        font-size: 2rem;
        color: #ccc;
        cursor: pointer;
        transition: color 0.2s;
    }

    .star-rating input[type="radio"]:checked + label,
    .star-rating input[type="radio"]:checked + label ~ label {
        color: gold;
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
        color: gold;
    }
    #button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 90px;
    height: 40px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
    }

    #button:hover {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
    }

    #button:active {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }

    #button:focus {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
    .button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 155px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

    .button1:hover {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
    }

    .button1:active {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }

    .button1:focus {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
#navbar {
    width: 100%;
    background: linear-gradient(to right, #9fa5d5, #e8f5c8);
    color:black;
}
.navbar {
    background-color: green !important;
}
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#tabela1 {
    width: 100% !important;
    table-layout: auto !important;
}

    #tabela1 td, #tabela1 th {
        white-space: normal !important;
        word-wrap: break-word;
    }

body {
    overflow-x: hidden;
    font-family:Cambria;
    font-size:large;
}
#js-move:active, #js-delete:active, #js-change:active, #js-add:active, #themeToggle:active{
    transform: scale(0.95);
}
.slika {
    border-radius: 10px;
    padding: 5px;
    margin: 0rem 0;
    box-shadow: 3 4px 10px rgba(0,0,0,0.15);
    transition: transform 0.2s, box-shadow 0.2s;
}
.slika:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}
#slikaVoPrikaz {
    display: block; /* so margins/padding behave */
    max-width: 100%; /* responsive */
    border-radius: 12px; /* soften corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 
        0 0 30px rgba(0, 0, 0, 0.4), 
        0 0 45px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}
    #slikaVoPrikaz:hover {
        transform: scale(1.05);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.8), 0 0 50px rgba(0, 0, 0, 0.6), 0 0 75px rgba(159, 165, 213, 1);
    }
body.light, body.light #tabela1{
    background-color: white;
    color:black;
}
body.dark, body.dark #tabela1 tr.odd, body.dark #tabela1 tr.even, body.dark #tabela1 thead, body.dark table.dataTable.stripe tbody tr.odd, body.dark #tabela1 > tbody > tr:nth-child(odd), body.dark #tabela1 tbody tr.odd > td{
    background-color: black;
    color: white !important;
}


body.dark a {
    color: mediumpurple;
}
/* From Uiverse.io by andrew-demchenk0 */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        border-radius: 20px;
        left: 2px;
        bottom: 2px;
        z-index: 2;
        background-color: #e8e8e8;
        transition: .4s;
    }

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */ .sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */ .moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked + .slider {
    background-color: #183153;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}
.fade-in {
    opacity: 0;
    transform: translateY(40px); 
    transition: opacity 3s ease, transform 3s ease;
}
.fade-in.loaded {
    opacity: 1;
    transform: translateY(0);
}
.navbar-nav{
    font-size:large;
}


    